.panel{
    border:1px solid #888;
    width: 300px;
    height: 300px;
}
.cell{
    float: left;
    font-size: 28px;
    text-align: center;
    height: 25%;
    width: 25%;
    box-sizing:border-box;
    border: 1px solid #888;
}

.cell2 {background-color: #eee4da}
.cell4 {background-color: #ede0c8}
.cell8 {background-color: #f2b179; color:#fff}
.cell16 {background-color: #f59563; color:#fff}
.cell32 {background-color: #f67c5f; color:#fff}
.cell64 {background-color: #f65e3b; color:#fff}
.cell128 {background-color: #edcf72; color:#fff}
.cell256 {background-color: #edcc61; color:#fff}
.cell512 {background-color: #edc850; color:#fff}
.cell1024 {background-color: #edc53f; color:#fff}
.cell2048 {background-color: #edc22e; color:#fff}